header, footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0.1rem solid #11224E
}

header{
    background-color:#11224E;
    color:wheat;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: radius bottom 67rem;
}

.logo{
    border-radius: 50%;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.h-one{
    font-size: 100%;
    margin-right: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: auto;
    margin-left: 0.5rem;
}

nav a{
    color: #F87B1B;
    text-decoration:none;
    transition: transform  0.3s ease;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem;

}

nav a:hover{
    cursor: pointer;
    color: #fd6f03a1;
    /* transform:scale(3.3); */
    text-decoration:none;
    border-radius: 50%;
    /* border-color: aqua; */
}

nav li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.n_links{
    list-style:none;
    display: flex;
    flex-direction: row;
    color: #F87B1B;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
}

.cont button{
    background-color: #F87B1B;
    color: wheat;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 2rem;
}
.cont button:hover{
    background-color: #fd6f03a1;
}   

footer{
    background-color: #11224E;
    color: wheat;
    text-align: center;
    padding: 6rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}